<li>
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })
</li>
<li>
    @Html.ActionLink("Om os", "Index", "About", new { area = "" }, new { @class = "" })
</li>
<li>
    @Html.ActionLink("Priser", "Index", "Price", new { area = "" }, new { @class = "" })
</li>
<li>
    @Html.ActionLink("Betingelser", "Conditions", "Home", new { area = "" }, new { @class = "" })
</li>
<li>
    @Html.ActionLink("Kontakt", "Index", "Contact", new { area = "" }, new { @class = "" })
</li>
<li>
    @Html.ActionLink("Log ind", "Index", "User", new { area = "" }, new { @class = "" })
</li>